<div class="login-register-form">
  <form id="forgot-form">
    <label for="user_email">Email:</label>
    <input type="text" name="user[email]" id="user-email" />
    <input type="submit" value="Reset Password"/>
  </form>
</div>
