<div class="login-register-form">
  <form id="login-form">
    <label for="user_login">Username or Email:</label>
    <input type="text" name="user[login]" id="user-login" />
    <label for="user_password">Password:</label>
    <input type="password" name="user[password]" id="user-password" />
    <input type="submit" value="Sign In"/>
  </form>
  <a href="#/forgot_password">Forgot your password ?</a>
</div>
