<div class="login-register-form">
  <form id="register-form">
    <label for="user_email">Email:</label>
    <input type="text" name="user[email]" id="user-email" />
    <label for="user_password">Password:</label>
    <input type="password" name="user[password]" id="user-password" />
    <input type="submit" value="Sign Up"/>
  </form>
  <a href="#/forgot_password">Forgot your password ?</a>
</div>
