<header>
  <div class="logo">
    <a href="#">Home</a>
  </div>
  <div class="login-register">
    <a href="#/login">Sign In</a>&nbsp;|&nbsp;<a href="#/register">Sign Up</a>
  </div>
</header>

<div class="container">
  <div class="body">
    <div class="links">
      <a href="#/tasks">tasks</a>
      <a href="#/bookmarks">bookmarks</a>
      <a href="#/notes">notes</a>
    </div>
  </div>
</div>
