<div class="bookmark-form">
  <form id="bookmark-form">
    <div class="field">
      <label for="bookmark_title">Title:</label>
      <input type="text" name="bookmark[title]" id="bookmark-title" />
    </div>
    <div class="field">
      <label for="bookmark_bm_url">Url:</label>
      <input type="text" name="bookmark[bm_url]" id="bookmark-bm_url" />
    </div>
    <div class="field">
      <label for="bookmark_description">Description:</label>
      <input type="text" name="bookmark[description]" id="bookmark-description" />
    </div>
    <div class="field">
      <label for="bookmark_tags">tags:</label>
      <input type="text" name="bookmark[tags]" id="bookmark-tags" />
    </div>
    <div class="field">
      <input type="checkbox" name="bookmark[permission]" id="bookmark-permission" value="1" />
      <label for="bookmark_permission">Make this private:</label>
    </div>
    <div class="field">
      <button type="submit" id="save-bookmark">Save</button>
      <button id="cancel-bookmark">Cancel</button>
    </div>
  </form>
</div>
