$theme-bg-color: #151515;
$theme-font-color: #fff;
$theme-font-size: 16px;
$theme-font-family: Menlo, Monaco, "DejaVu Sans Mono", Consolas;
$konsole-min-height: 500px;
$host-color: #67f86e;
$path-color: #65fdff;
$prompt-color: #c30;

